.main-container{
  margin: 20px;
}

.navigation{
  display: flex;
  align-items: center;

  &__brand{
    flex: 0 0 10%;
    margin-right: 20px;

  }

  &__menu{
    flex: 1;
    margin-right: 20px;

  }

  &__button{
    flex: 0 0 20%;
    
  }

}


.brand-name{
  border-bottom: 1px solid $color-grey-dark-2;
  &__text{
    margin: 0;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: orangered;
    text-transform: uppercase;
    text-align: center;
  }
}

.main-highlight{
  display: flex;
}

.article-highlight{
  flex: 0 0 25%;
  min-height: 1000px;
}

.video-highlight{
  flex: 1;

  &__case{
    margin-top: 83px;
  }
}

.subscriber-highlight{
  flex: 0 0 30%;
  min-height: 500px;
}
