.main-container{
  margin: 20px;
}

.navigation{
  display: flex;
  align-items: center;

  &__brand{
    flex: 0 0 20%;
    margin-right: 20px;

  }

  &__menu{
    flex: 1;
    margin-right: 20px;

  }

  &__button{
    flex: 0 0 20%;
    
  }

}
